<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "coder/loader_whatsapp.html" %}
    {% include "coder/navbar.html" %}
    <br><br><br><br>
    <div id="content" class="site-content" style="height: auto !important;">

		<div class="ast-container" style="height: auto !important;">

		

	<div id="primary" class="content-area primary" style="height: auto !important;">

		
					<main id="main" class="site-main" style="height: auto !important;">

				
					
					

<article class="post-876 page type-page status-publish ast-article-single" id="post-876" itemtype="https://schema.org/CreativeWork" itemscope="itemscope" style="height: auto !important;">

	
	<header class="entry-header ast-header-without-markup">

		
			</header><!-- .entry-header -->

	<div class="entry-content clear" itemprop="text" style="height: auto !important;">

		
				<div data-elementor-type="wp-post" data-elementor-id="876" class="elementor elementor-876" data-elementor-settings="[]" style="height: auto !important;">
						<div class="elementor-inner" style="height: auto !important;">
							<div class="elementor-section-wrap" style="height: auto !important;">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-32cb120 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="32cb120" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 1263px; left: 0px;">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-744d0f0" data-id="744d0f0" data-element_type="column">
			<div class="elementor-column-wrap">
							<div class="elementor-widget-wrap">
								</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-3b0e7b5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3b0e7b5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-27434bf" data-id="27434bf" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-3a95e44 elementor-widget elementor-widget-heading" data-id="3a95e44" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default text-center">Dear Customers</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-38ba8c6 elementor-widget elementor-widget-text-editor" data-id="38ba8c6" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>In order to serve you better here www.lazycoderonline.com having a customer portal. Please leave your queries here.</p><p>Sales Support :&nbsp;<strong><a href="mailto:wapka1503@gmail.com">wapka1503@gmail.com</a></strong></p><p>Customer Care Number : <strong><a href="tel:9572181024">+919572181024</a></strong></p></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-7c96a85 elementor-widget elementor-widget-text-editor" data-id="7c96a85" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>&nbsp;</p><p>Support Timings : 10 am to 7pm</p><p>Feel Free to contact us</p><p>Good News: Live Chat under testing</p></div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-2fe8f86 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2fe8f86" data-element_type="section" style="height: auto !important;">
						<div class="elementor-container elementor-column-gap-default" style="height: auto !important;">
							<div class="elementor-row" style="height: auto !important;">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9d4c42f" data-id="9d4c42f" data-element_type="column" style="height: auto !important; min-height: 0px !important;">
			<div class="elementor-column-wrap elementor-element-populated" style="height: auto !important;">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-3398610 elementor-widget elementor-widget-html" data-id="3398610" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
	
	</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<span class="cp-load-after-post"></span>
		
		
	</div><!-- .entry-content .clear -->

	
	
</article><!-- #post-## -->


					
					
				
			</main><!-- #main -->
			
		
	</div><!-- #primary -->


			
			</div> <!-- ast-container -->

		</div>
        
    <br><br>
    {% include "coder/footer.html" %}
</body>
</html>