{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title></title>
    <style>
      .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
    </style>
  </head>
  <body>
    {% include "coder/navbar.html" %}
    <br><br><br><br><br>



  <img class="center" src="{% static "images/logout_img.png" %}" >

<br><br><br><br><br>

<br><br>
{% include "coder/footer.html" %}

  </body>
</html>
