<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "coder/loader_whatsapp.html" %}
    {% include "coder/navbar.html" %}

    <br><br><br><br><br>
    
    <br>
    <form method="POST">
        {% csrf_token %} 
        
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_hJTowsKJ5bDCvM" 
            data-amount="{{amount}}" 
            data-currency="INR"
            
            data-buttontext="Click Here To Pay"
            data-name="LazyCoder"
            data-description="{{project}}"
            data-image="{% static "images/logo.png" %}"

            data-theme.color="#F37254"
        ></script>
       
        </form>
<br>
<p style="text-align: center;">Buy Another Project <br> Search Below</p>

{% include "coder/searchbar.html" %}
<br><br>
 



  {% include "coder/footer.html" %}
</body>
</html>