<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "coder/loader_whatsapp.html" %}
    {% include "coder/navbar.html" %}
    <br><br><br><br>
    <div id="content" class="site-content">

		<div class="ast-container">

		

	<div id="primary" class="content-area primary">

		
					<main id="main" class="site-main">

				
					
					

<article class="post-971 page type-page status-publish ast-article-single" id="post-971" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">

	
	<header class="entry-header ast-no-thumbnail ast-no-meta">

		
	
	<div class="entry-content clear" itemprop="text">

		
		
<p><strong>Privacy
Policy of www.lazycoderonline.com</strong></p>



<p>This privacy policy has been compiled to
better serve those who are concerned with how their ‘Personally identifiable
information’ (PII) is being used online. PII, as used in Indian privacy law and
information security, is information that can be used on its own or with other
information to identify, contact, or locate a single person, or to identify an
individual in context. Please read our privacy policy (www.lazycoderonline.com)
carefully to get a clear understanding of how we collect, use, protect or
otherwise handle your Personally Identifiable Information in accordance with
our website.</p>



<p><strong>What personal information does www.lazycoderonline.com
collect from the people that visit our blog, website or app?</strong></p>



<p>When ordering or registering on our site, as
appropriate, you may be asked to enter your name, email address, mailing
address, credit card information or other details to help you with your
experience.</p>



<p><strong>When does www.lazycoderonline.com collect
information?</strong></p>



<p>We collect information from you when you
register on our site, place an order, subscribe to a newsletter, fill out a
form or enter information on our site.</p>



<p><strong>How does www.lazycoderonline.com use your
information?</strong></p>



<p>www.lazycoderonline.com &nbsp;may use such information in the following
ways:</p>



<ul><li>To personalize user’s
     experience and to allow us to deliver the type of content and product
     offerings in which you are most interested.</li><li>To improve www.lazycoderonline.com
     website in order to better serve you.</li><li>To allow us to better service
     you in responding to your customer service requests.</li><li>To administer a contest,
     promotion, survey or other site feature.</li><li>To quickly process your
     transactions.</li><li>To send periodic emails
     regarding your order or other products and services.</li></ul>



<p><strong>How does www.lazycoderonline.com protect visitor
information?</strong></p>



<p>www.lazycoderonline.com is scanned on a regular
basis for security holes and known vulnerabilities in order to make your visit
to our site as safe as possible.</p>



<p>We use regular Malware Scanning.</p>



<p>Your personal information is contained behind
secured networks and is only accessible by a limited number of persons who have
special access rights to such systems, and are required to keep the information
confidential. In addition, all sensitive/credit information you supply is
encrypted via Secure Socket Layer (SSL) technology.</p>



<p>We implement a variety of security measures
when a user places an order enters, submits, or accesses their information to
maintain the safety of your personal information.</p>



<p>All transactions are processed through a
gateway provider and are not stored or processed on our servers.</p>



<p><strong>Do we use ‘cookies’?</strong></p>



<p>Yes. Cookies are small files that a site or
its service provider transfers to your computer’s hard drive through your Web
browser (if you allow) that enables the site’s or service provider’s systems to
recognize your browser and capture and remember certain information. For
instance, we use cookies to help us remember and process the items in your
shopping cart. They are also used to help us understand your preferences based
on previous or current site activity, which enables us to provide you with
improved services. We also use cookies to help us compile aggregate data about
site traffic and site interaction so that we can offer better site experiences
and tools in the future.</p>



<p>We use cookies to:</p>



<ul><li>Help remember and process the
     items in the shopping cart.</li><li>Understand and save user’s
     preferences for future visits.</li><li>Compile aggregate data about
     site traffic and site interactions in order to offer better site
     experiences and tools in the future. We may also use trusted third party
     services that track this information on our behalf.</li></ul>



<p>You can choose to have your computer warn you
each time a cookie is being sent, or you can choose to turn off all cookies.
You do this through your browser (like Internet Explorer) settings. Each
browser is a little different, so look at your browser’s Help menu to learn the
correct way to modify your cookies.</p>



<p>If you disable cookies off, some features will
be disabled It will turn off some of the features that make your site
experience more efficient and some of our services will not function properly.</p>



<p><strong>How can you opt out, remove or modify
information you have provided to us?</strong></p>



<p>You can request to have your information
removed by clicking on the support link in the footer menu.</p>



<p>Please note that www.lazycoderonline.com may
maintain information about an individual sales transaction in order to complete
that transaction and for record keeping purposes.</p>



<p><strong>Third Party Disclosures</strong></p>



<p>www.lazycoderonline.com does not sell, trade, or
otherwise transfer to outside parties your personally identifiable information
unless we provide you with advance notice. This does not include website
hosting partners and other parties who assist us in operating our website,
conducting our business, or servicing you, so long as those parties agree to
keep this information confidential. We may also release your information when
we believe release is appropriate to comply with the law, enforce our site
policies, or protect ours or others’ rights, property, or safety.</p>



<p>However, non-personally identifiable visitor
information may be provided to other parties for marketing, advertising, or
other uses.</p>



<p><strong>Third party Links</strong></p>



<p>Occasionally, at our discretion, www.lazycoderonline.com
may include or offer third party products or services on our website. These
third party sites have separate and independent privacy policies. We therefore
have no responsibility or liability for the content and activities of these
linked sites. Nonetheless, we seek to protect the integrity of our site and
welcome any feedback about these sites.</p>



<p><strong>Transfer of Your Personal Information</strong></p>



<p>Your information, including personal information,
may be transferred to and maintained on computers located outside of your state,
province, country or other governmental jurisdiction where the data protection
laws may differ than those from your jurisdiction.</p>



<p>We will take all steps reasonably necessary to
ensure that your data is treated securely and in accordance with this Privacy
Policy and no transfer of your personal information will take place to an
organization or a country unless there are adequate controls in place including
the security of your data and other personal information.</p>



<p><strong>Disclosure of Your Personal Information</strong></p>



<p>If we are involved in a merger, acquisition or
asset sale, your personal information may be transferred. We will provide
notice before your personal information is transferred and becomes subject to a
different Privacy Policy.</p>



<p>Under certain circumstances, we may be
required to disclose your personal information if required to do so by law or
in response to valid requests by public authorities (e.g. a court or a
government agency).</p>



<p><strong>Retention of Your Personal Information</strong></p>



<p>www.lazycoderonline.com will retain your
personal information only for as long as is necessary for the purposes set out
in this Privacy Policy. www.lazycoderonline.com will retain and use your
information to the extent necessary to comply with our legal obligations (for
example, if we are required to retain your data to comply with applicable
laws), resolve disputes, and enforce our legal agreements and policies.</p>



<p><strong>Service Providers</strong></p>



<p>We employ third party companies and
individuals to facilitate www.lazycoderonline.com (“Service
Providers”), to provide our Website on our behalf, to perform
Website-related services or to assist us in analyzing how our Website is used.
These third-parties have access to your personal information only to perform
these tasks on our behalf and are obligated not to disclose or use it for any
other purpose.</p>



<ul><li><strong>Analytics</strong></li></ul>



<p>Google Analytics is a web analytics service
offered by Google that tracks and reports website traffic. Google uses the data
collected to track and monitor the use of our Service. This data is shared with
other Google services. Google may use the collected data to contextualize and
personalize the ads of its own advertising network. You can opt-out of having
made your activity on the Service available to Google Analytics by installing
the Google Analytics opt-out browser add-on. The add-on prevents the Google
Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information
with Google Analytics about visits activity. For more information on the
privacy practices of Google, please visit the Google Privacy &amp; Terms web
page:&nbsp;http://www.google.com/intl/en/policies/privacy/</p>



<ul><li><strong>Payments processors</strong></li></ul>



<p>We provide e-products and/or services on our
Website. In that case, we use third-party services for payment processing (e.g.
payment Gateways). We will not store or collect your payment card details. Also
we don’t have any refund policies. Due to e-products there will not be any
refunds from www.lazycoderonline.com side. That information is provided directly
to our third-party payment processors whose use of your personal information is
governed by their Privacy Policy. These payment processors adhere to the
standards set by PCI-DSS as managed by the PCI Security Standards Council.</p>



<p><strong>Contacting Us</strong></p>



<p>If there are any questions regarding this
privacy policy you may contact us. 
</p>
<span class="cp-load-after-post"></span>
		
		
	</div><!-- .entry-content .clear -->

	
	
</article><!-- #post-## -->


					
					
				
			</main><!-- #main -->
			
		
	</div><!-- #primary -->


			
			</div> <!-- ast-container -->

		</div>

        
  {% include "coder/footer.html" %}
</body>
</html>