<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "coder/loader_whatsapp.html" %}
    {% include "coder/navbar.html" %}
    <br><br><br><br>
    <div id="content" class="site-content">

		<div class="ast-container">

		

	<div id="primary" class="content-area primary">

		
					<main id="main" class="site-main">

				
					
					

<article class="post-226 page type-page status-publish ast-article-single" id="post-226" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">

	
	<header class="entry-header ast-no-thumbnail ast-no-meta">

		
		
	<div class="entry-content clear" itemprop="text">

		
		
<p><strong>TERMS AND CONDITIONS FOR&nbsp;www.lazycoderonline.com</strong></p>



<p><strong>Introduction</strong></p>



<p>www.lazycoderonline.com Standard Terms and Conditions
written on this webpage shall manage your use of our website,&nbsp;www.lazycoderonline.com</p>



<p>These Terms will be applied fully and affect to your
use of this Website. By using this Website, you agreed to accept all terms and
conditions written in here. You must not use this Website if you disagree with
any of these Website Standard Terms and Conditions.</p>



<p><strong>Intellectual Property Rights</strong></p>



<p>Other than the content you buy, under these Terms
and conditions,&nbsp;www.lazycoderonline.com&nbsp;
and /or its licensors own all the intellectual property rights and
materials contained in this Website.</p>



<p>You are granted limited license only for purposes of
viewing and doenloading the material contained on this Website.</p>



<p><strong>Restrictions</strong></p>



<ul><li>You are specifically restricted from all
of the following:</li><li>publishing any www.lazycoderonline.com
material in any other media;</li><li>selling, sublicensing and / or otherwise
commercializing any www.lazycoderonline.com material;</li><li>publicly performing and / or showing any
www.lazycoderonline.com material;</li><li>using this Website in any way that is or
may be damaging to this www.lazycoderonline.com;</li><li>using this Website in any way that
impacts user access to this Website;</li><li>using this Website contrary to
applicable laws and regulations, or in any way may cause harm to the Website,
or to any person or business entity;</li><li>engaging in any data mining, data
harvesting, data extracting or any other similar activity in relation to this
Website;</li><li>using this Website to engage in any
advertising or marketing.</li></ul>



<p>Certain areas of www.lazycoderonline.com are
restricted from being access by you and&nbsp;www.lazycoderonline.com may further
restrict access by you to any areas of this Website, at any time, in absolute
discretion. Any user ID and password you may have for this Website are
confidential and you must maintain confidentiality as well.</p>



<p><strong>www.lazycoderonline.com Content</strong></p>



<p>In these www.lazycoderonline.com Standard Terms and
Conditions, “Your Content” shall mean any audio, video text, images or other
material you choose to display on this Website. By displaying Your Content, you
grant&nbsp;www.lazycoderonline.com&nbsp; a
non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce,
adapt, publish, translate and distribute it in any and all media.</p>



<p>Your Content must be your own and must not be
invading any third-party’s rights.&nbsp;www.lazycoderonline.com reserves the
right to remove any of Your Content from this Website at any time without
notice.</p>



<p><strong>Payment Details</strong></p>



<p>When you purchase a subscription, you must provide
us with complete and accurate payment information. By submitting payment
details you promise that you are entitled to purchase a subscription using
those payment details. If we do not receive payment authorization or any
authorization is subsequently cancelled, we may immediately terminate or
suspend your access to your subscription. In suspicious circumstances we may
contact the issuing bank/payment provider and/or law enforcement authorities or
other appropriate third parties. If you are entitled to a refund under these
terms and conditions we will credit that refund to the card or other payment
method you used to submit payment, unless it has expired in which case we will
contact you.</p>



<p>www.lazycoderonline.com will use the services of
quality third party payment service providers to process your payment. Payment
options are primarily through debit card, credit card, Net banking Transfer,
wallet payments and etc. www.lazycoderonline.com may offer other payment mechanisms
from time to time.</p>



<p><strong>Taxes</strong></p>



<p>Subscription and access to content services fall
under the purview of Service Tax as per the current indirect taxation policy,
Government of India. Taxes are applicable for consumption of content on the
website and other products of www.lazycoderonline.com uniformly for customers
based in India and outside the country. Unless otherwise indicated, prices
stated on our website are inclusive of applicable taxes</p>



<p><strong>Refund Policy</strong></p>



<p>We don’t have any refund policy or customer care or
any supports after sale. As we are selling an e-product not the real physical
product, e-product cannot be returned by customer. We advise all our customers
to view full video of your intended e-product before placing an order. Due to
which we do not accept returns to any order, hence no refund. You acknowledge
that such information and materials may contain inaccuracies or errors and we
expressly exclude liability for any such inaccuracies or errors to the fullest
extent permitted by law. Your use of any information or materials on this
website is entirely at your own risk, for which we shall not be liable. It
shall be your own responsibility to ensure that any products, services or
information available through this website meet your specific requirements</p>



<p><strong>Limitation of liability</strong></p>



<p>In no event shall&nbsp;www.lazycoderonline.com, nor
any of its officers, directors and employees, shall be held liable for anything
arising out of or in any way connected with your use of this Website whether
such liability is under contract. &nbsp;www.lazycoderonline.com, including its
officers, directors and employees shall not be held liable for any indirect,
consequential or special liability arising out of or in any way related to your
use of this Website.</p>



<p><strong>Indemnification</strong></p>



<p>You hereby indemnify to the fullest extent&nbsp;www.lazycoderonline.com&nbsp;from
and against any and/or all liabilities, costs, demands, causes of action,
damages and expenses arising in any way related to your breach of any of the
provisions of these Terms.</p>



<p><strong>Severability</strong></p>



<p>If any provision of these Terms is found to be
invalid under any applicable law, such provisions shall be deleted without
affecting the remaining provisions herein.</p>



<p><strong>Variation of Terms</strong></p>



<p>www.lazycoderonline.com is permitted to revise these
Terms at any time as it sees fit, and by using this Website you are expected to
review these Terms on a regular basis.</p>



<p><strong>Assignment</strong></p>



<p>www.lazycoderonline.com is allowed to assign,
transfer, and subcontract its rights and/or obligations under these Terms
without any notification. However, you are not allowed to assign, transfer, or
subcontract any of your rights and/or obligations under these Terms.</p>



<p><strong>Entire Agreement</strong></p>



<p>These Terms constitute the entire agreement
between&nbsp;www.lazycoderonline.com and you in relation to your use of this
Website, and supersede all prior agreements and understandings.</p>



<p><strong>Governing Law &amp; Jurisdiction</strong></p>



<p>These Terms will be governed by and interpreted in
accordance with the laws of the State of&nbsp;Country, and you submit to the
non-exclusive jurisdiction of the state and federal courts located
in&nbsp;Country&nbsp;for the resolution of any disputes.</p>



<p><strong>Content ownership</strong></p>



<p>All Content created and published on the digital
platforms under the url www.lazycoderonline.com the browser site, applications, www.lazycoderonline.com
E- Properties belong to www.lazycoderonline.com and its licensors who own all
intellectual property rights (including copyright and database rights) No
intellectual property rights in any of the content are transferred to you while
you consume the content on this platform. www.lazycoderonline.com are registered trademarks
and you may not use them without prior written permission from www.lazycoderonline.com.
You are permitted to use the content on this platform only as set out in our
Copyright Policy.</p>



<p><strong>Changes to Terms and Conditions and Validity</strong></p>



<p>These terms and conditions were published on 1st September
2019 and replace with immediate effect the terms and conditions previously
published.</p>
<span class="cp-load-after-post"></span>
		
		
	</div><!-- .entry-content .clear -->

	
	
</article><!-- #post-## -->


					
					
				
			</main><!-- #main -->
			
		
	</div><!-- #primary -->


			
			</div> <!-- ast-container -->

		</div>

        
  {% include "coder/footer.html" %}
</body>
</html>