<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        .pqr {
  position: relative;
  width: 100%;
  height: min-content;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}


    </style>
</head>
<body>
    {% include "coder/loader_whatsapp.html" %}
    {% include "coder/navbar.html" %}
    <br><br><br>
    <h4 style="text-align:center;color:blue;background-color:#e5edbe;padding-top: 4px;padding-bottom: 5px;">{{project}}</h4><br>
	<div class="wrapper" >

        
    
    
    <div class="center">
        <div id="content">
    <iframe src="https://www.youtube.com/embed/_HRqU3oP7Y8" class="pqr" frameborder="0"  scrolling="auto" onload="" allowtransparency="false"></iframe>


  </div>
      
      
      <h3 style="text-align:center;color:red;">Description : {{project.description}}</h3>
      <h3 style="text-align:center;color:red;">technologies: {{project.technologies}}</h3>
      <h3 style="text-align:center;color:red;">price: {{project.price}}</h3>

    </div>
    </div>
    
  
        
  {% include "coder/footer.html" %}
</body>
</html>