<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>

#content{
 
  text-align: center;
}

    </style>
</head>
<body>
    {% include "coder/loader_whatsapp.html" %}
    {% include "coder/navbar.html" %}
    <br><br><br>
    <h4 style="text-align:center;color:blue;background-color:#e5edbe;padding-top: 4px;padding-bottom: 5px;">{{project}}</h4><br>
	<div class="wrapper" >

        
    
    
    <div class="center">
        <div id="content">
    <iframe src="https://www.youtube.com/embed/_HRqU3oP7Y8" frameborder="0"  scrolling="auto" onload="" allowtransparency="false"></iframe>
  </div>
     <div style="text-align: center;">
      {{project.description|safe}}
     </div> 
  
     


    </div>
    </div>
    
  
        
  {% include "coder/footer.html" %}
</body>
</html>