<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #content{
 
 text-align: center;
}
    </style>
</head>

<body>
    {% include "coder/loader_whatsapp.html" %}
    {% include "coder/navbar.html" %}
<br><br><br>
    <h4 style="text-align:center;color:blue;background-color:#e5edbe;padding-top: 4px;padding-bottom: 5px;">{{project}}</h4><br>
	<div class="wrapper" >

        
    
    
    <div class="center">
        <div id="content">
    <iframe src="https://www.youtube.com/embed/_HRqU3oP7Y8" frameborder="0"  scrolling="auto" onload="" allowtransparency="false"></iframe>
  </div>
    </div>

    <div id="readme" class="Box-body readme blob js-code-block-container p-5 p-xl-6 gist-border-0">
        <article class="markdown-body entry-content container-lg" itemprop="text">
            <h1><a id="user-content-hospital-management" class="anchor" aria-hidden="true"
                    href="#hospital-management"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1"
                        width="16" height="16" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>Hospital Management</h1>
            <h2><a id="" class="anchor" aria-hidden="true" href="#"><svg class="octicon octicon-link"
                        viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a><a target="_blank" rel="noopener noreferrer"
                    href="https://camo.githubusercontent.com/a98235d2aaabc86e4e7e679c5989e3b66bf187433b9c138ab2804f9b1d7ebc82/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f446576656c6f70656425323042792532302533412d53756d69742532304b756d61722d726564"><img
                        src="https://camo.githubusercontent.com/a98235d2aaabc86e4e7e679c5989e3b66bf187433b9c138ab2804f9b1d7ebc82/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f446576656c6f70656425323042792532302533412d53756d69742532304b756d61722d726564"
                        alt="developer"
                        data-canonical-src="https://img.shields.io/badge/Developed%20By%20%3A-Sumit%20Kumar-red"
                        style="max-width: 100%;"></a></h2>
            <h2><a id="user-content-screenshots" class="anchor" aria-hidden="true" href="#screenshots"><svg
                        class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>screenshots</h2>
            <h3><a id="user-content-homepage" class="anchor" aria-hidden="true" href="#homepage"><svg
                        class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>Homepage</h3>
            <p><a target="_blank" rel="noopener noreferrer"
                    href="https://github.com/sumitkumar1503/hospitalmanagement/blob/master/static/screenshots/homepage.png?raw=true"><img
                        src="https://github.com/sumitkumar1503/hospitalmanagement/raw/master/static/screenshots/homepage.png?raw=true"
                        alt="homepage snap" style="max-width: 100%;"></a></p>
            <h3><a id="user-content-admin-dashboard" class="anchor" aria-hidden="true" href="#admin-dashboard"><svg
                        class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>Admin Dashboard</h3>
            <p><a target="_blank" rel="noopener noreferrer"
                    href="https://github.com/sumitkumar1503/hospitalmanagement/blob/master/static/screenshots/admin_dashboard.png?raw=true"><img
                        src="https://github.com/sumitkumar1503/hospitalmanagement/raw/master/static/screenshots/admin_dashboard.png?raw=true"
                        alt="dashboard snap" style="max-width: 100%;"></a></p>
            <h3><a id="user-content-invoice" class="anchor" aria-hidden="true" href="#invoice"><svg
                        class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>Invoice</h3>
            <p><a target="_blank" rel="noopener noreferrer"
                    href="https://github.com/sumitkumar1503/hospitalmanagement/blob/master/static/screenshots/invoice.png?raw=true"><img
                        src="https://github.com/sumitkumar1503/hospitalmanagement/raw/master/static/screenshots/invoice.png?raw=true"
                        alt="invoice snap" style="max-width: 100%;"></a></p>
            <h3><a id="user-content-doctor-list" class="anchor" aria-hidden="true" href="#doctor-list"><svg
                        class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>Doctor list</h3>
            <h2><a id="user-content--1" class="anchor" aria-hidden="true" href="#-1"><svg class="octicon octicon-link"
                        viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a><a target="_blank" rel="noopener noreferrer"
                    href="https://github.com/sumitkumar1503/hospitalmanagement/blob/master/static/screenshots/admin_doctor.png?raw=true"><img
                        src="https://github.com/sumitkumar1503/hospitalmanagement/raw/master/static/screenshots/admin_doctor.png?raw=true"
                        alt="doctor snap" style="max-width: 100%;"></a></h2>
            <h2><a id="user-content-functions" class="anchor" aria-hidden="true" href="#functions"><svg
                        class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>Functions</h2>
            <h3><a id="user-content-admin" class="anchor" aria-hidden="true" href="#admin"><svg
                        class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>Admin</h3>
            <ul>
                <li>Signup their account. Then Login (No approval Required).</li>
                <li>Can register/view/approve/reject/delete doctor (approve those doctor who applied for job in their
                    hospital).</li>
                <li>Can admit/view/approve/reject/discharge patient (discharge patient when treatment is done).</li>
                <li>Can Generate/Download Invoice pdf (Generate Invoice according to medicine cost, room charge, doctor
                    charge and other charge).</li>
                <li>Can view/book/approve Appointment (approve those appointments which is requested by patient).</li>
            </ul>
            <h3><a id="user-content-doctor" class="anchor" aria-hidden="true" href="#doctor"><svg
                        class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>Doctor</h3>
            <ul>
                <li>Apply for job in hospital. Then Login (Approval required by hospital admin, Then only doctor can
                    login).</li>
                <li>Can only view their patient details (symptoms, name, mobile ) assigned to that doctor by admin.</li>
                <li>Can view their discharged(by admin) patient list.</li>
                <li>Can view their Appointments, booked by admin.</li>
                <li>Can delete their Appointment, when doctor attended their appointment.</li>
            </ul>
            <h3><a id="user-content-patient" class="anchor" aria-hidden="true" href="#patient"><svg
                        class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>Patient</h3>
            <ul>
                <li>Create account for admit in hospital. Then Login (Approval required by hospital admin, Then only
                    patient can login).</li>
                <li>Can view assigned doctor's details like ( specialization, mobile, address).</li>
                <li>Can view their booked appointment status (pending/confirmed by admin).</li>
                <li>Can book appointments.(approval required by admin)</li>
                <li>Can view/download Invoice pdf (Only when that patient is discharged by admin).</li>
            </ul>
            <hr>
            <h2><a id="user-content-how-to-run-this-project" class="anchor" aria-hidden="true"
                    href="#how-to-run-this-project"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1"
                        width="16" height="16" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>HOW TO RUN THIS PROJECT</h2>
            <ul>
                <li>Install Python(3.7.6) (Dont Forget to Tick Add to Path while installing Python)</li>
                <li>Open Terminal and Execute Following Commands :</li>
            </ul>
            <div class="snippet-clipboard-content position-relative">
                <pre><code>pip install django==3.0.5 pip install django-widget-tweaks pip install xhtml2pdf </code></pre>
                <div class="zeroclipboard-container position-absolute right-0 top-0">
                    <clipboard-copy aria-label="Copy"
                        class="ClipboardButton btn js-clipboard-copy m-2 p-0 tooltipped-no-delay"
                        data-copy-feedback="Copied!" data-tooltip-direction="w"
                        value="pip install django==3.0.5 pip install django-widget-tweaks pip install xhtml2pdf "
                        tabindex="0" role="button"> <svg aria-hidden="true" height="16" viewBox="0 0 16 16"
                            version="1.1" width="16" data-view-component="true"
                            class="octicon octicon-paste js-clipboard-clippy-icon m-2">
                            <path fill-rule="evenodd"
                                d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z">
                            </path>
                        </svg> <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                            data-view-component="true"
                            class="octicon octicon-check js-clipboard-check-icon color-text-success d-none m-2">
                            <path fill-rule="evenodd"
                                d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z">
                            </path>
                        </svg> </clipboard-copy>
                </div>
            </div>
            <ul>
                <li>Download This Project Zip Folder and Extract it</li>
                <li>Move to project folder in Terminal. Then run following Commands :</li>
            </ul>
            <div class="snippet-clipboard-content position-relative">
                <pre><code>py manage.py makemigrations py manage.py migrate py manage.py runserver </code></pre>
                <div class="zeroclipboard-container position-absolute right-0 top-0">
                    <clipboard-copy aria-label="Copy"
                        class="ClipboardButton btn js-clipboard-copy m-2 p-0 tooltipped-no-delay"
                        data-copy-feedback="Copied!" data-tooltip-direction="w"
                        value="py manage.py makemigrations py manage.py migrate py manage.py runserver " tabindex="0"
                        role="button"> <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                            data-view-component="true" class="octicon octicon-paste js-clipboard-clippy-icon m-2">
                            <path fill-rule="evenodd"
                                d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z">
                            </path>
                        </svg> <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                            data-view-component="true"
                            class="octicon octicon-check js-clipboard-check-icon color-text-success d-none m-2">
                            <path fill-rule="evenodd"
                                d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z">
                            </path>
                        </svg> </clipboard-copy>
                </div>
            </div>
            <ul>
                <li>Now enter following URL in Your Browser Installed On Your Pc</li>
            </ul>
            <div class="snippet-clipboard-content position-relative">
                <pre><code>http://127.0.0.1:8000/ </code></pre>
                <div class="zeroclipboard-container position-absolute right-0 top-0">
                    <clipboard-copy aria-label="Copy"
                        class="ClipboardButton btn js-clipboard-copy m-2 p-0 tooltipped-no-delay"
                        data-copy-feedback="Copied!" data-tooltip-direction="w" value="http://127.0.0.1:8000/ "
                        tabindex="0" role="button"> <svg aria-hidden="true" height="16" viewBox="0 0 16 16"
                            version="1.1" width="16" data-view-component="true"
                            class="octicon octicon-paste js-clipboard-clippy-icon m-2">
                            <path fill-rule="evenodd"
                                d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z">
                            </path>
                        </svg> <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                            data-view-component="true"
                            class="octicon octicon-check js-clipboard-check-icon color-text-success d-none m-2">
                            <path fill-rule="evenodd"
                                d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z">
                            </path>
                        </svg> </clipboard-copy>
                </div>
            </div>
            <h2><a id="user-content-changes-required-for-contact-us-page" class="anchor" aria-hidden="true"
                    href="#changes-required-for-contact-us-page"><svg class="octicon octicon-link" viewBox="0 0 16 16"
                        version="1.1" width="16" height="16" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>CHANGES REQUIRED FOR CONTACT US PAGE</h2>
            <ul>
                <li>In settins.py file, You have to give your email and password</li>
            </ul>
            <div class="snippet-clipboard-content position-relative">
                <pre><code>EMAIL_HOST_USER = 'youremail@gmail.com' EMAIL_HOST_PASSWORD = 'your email password' EMAIL_RECEIVING_USER = 'youremail@gmail.com' </code></pre>
                <div class="zeroclipboard-container position-absolute right-0 top-0">
                    <clipboard-copy aria-label="Copy"
                        class="ClipboardButton btn js-clipboard-copy m-2 p-0 tooltipped-no-delay"
                        data-copy-feedback="Copied!" data-tooltip-direction="w"
                        value="EMAIL_HOST_USER = 'youremail@gmail.com' EMAIL_HOST_PASSWORD = 'your email password' EMAIL_RECEIVING_USER = 'youremail@gmail.com' "
                        tabindex="0" role="button"> <svg aria-hidden="true" height="16" viewBox="0 0 16 16"
                            version="1.1" width="16" data-view-component="true"
                            class="octicon octicon-paste js-clipboard-clippy-icon m-2">
                            <path fill-rule="evenodd"
                                d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z">
                            </path>
                        </svg> <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                            data-view-component="true"
                            class="octicon octicon-check js-clipboard-check-icon color-text-success d-none m-2">
                            <path fill-rule="evenodd"
                                d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z">
                            </path>
                        </svg> </clipboard-copy>
                </div>
            </div>
            <ul>
                <li>Login to gmail through host email id in your browser and open following link and turn it ON</li>
            </ul>
            <div class="snippet-clipboard-content position-relative">
                <pre><code>https://myaccount.google.com/lesssecureapps </code></pre>
                <div class="zeroclipboard-container position-absolute right-0 top-0">
                    <clipboard-copy aria-label="Copy"
                        class="ClipboardButton btn js-clipboard-copy m-2 p-0 tooltipped-no-delay"
                        data-copy-feedback="Copied!" data-tooltip-direction="w"
                        value="https://myaccount.google.com/lesssecureapps " tabindex="0" role="button"> <svg
                            aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                            data-view-component="true" class="octicon octicon-paste js-clipboard-clippy-icon m-2">
                            <path fill-rule="evenodd"
                                d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z">
                            </path>
                        </svg> <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                            data-view-component="true"
                            class="octicon octicon-check js-clipboard-check-icon color-text-success d-none m-2">
                            <path fill-rule="evenodd"
                                d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z">
                            </path>
                        </svg> </clipboard-copy>
                </div>
            </div>
            <h2><a id="user-content-drawbacksloopholes" class="anchor" aria-hidden="true"
                    href="#drawbacksloopholes"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1"
                        width="16" height="16" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>Drawbacks/LoopHoles</h2>
            <ul>
                <li>Any one can be Admin. There is no Approval required for admin account. So you can disable admin
                    signup process and use any logic like creating superuser.</li>
                <li>There should be at least one doctor in hospital before admitting patient. So first add doctor.</li>
                <li>On update page of doctor/patient you must have to update password.</li>
            </ul>
            <h2><a id="user-content-disclaimer" class="anchor" aria-hidden="true" href="#disclaimer"><svg
                        class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>Disclaimer</h2>
            <p>This project is developed for demo purpose and it's not supposed to be used in real application.</p>
            <h2><a id="user-content-feedback" class="anchor" aria-hidden="true" href="#feedback"><svg
                        class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                        </path>
                    </svg></a>Feedback</h2>
            <p>Any suggestion and feedback is welcome. You can message me on facebook</p>
            <ul>
                <li><a href="https://fb.com/sumit.luv" rel="nofollow">Contact on Facebook</a></li>
                <li><a href="https://youtube.com/lazycoders" rel="nofollow">Subscribe my Channel LazyCoder On
                        Youtube</a></li>
            </ul>
        </article>
    </div>
    {% include "coder/footer.html" %}
</body>

</html>